.container {
    width: 340px;
    height: 240px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    
    
    
    
}
.animated {
    width: 422px;
    height: 422px;
    background: linear-gradient(#00ff00, #ff0000);
    
    position: absolute;
    animation: rotate 4s infinite  ease-in-out;
}
.corner {
    width: 332px;
    height: 230px;
    background: rgb(0, 0, 0);
    z-index: 1;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}
.content {
    
    background: #000000;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px ;
    padding: 6px;
}

.lista {
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    grid-template:repeat(2,1fr) ;
    gap:10px;
    
   
        
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}